* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: rgb(241, 235, 235); */
    background: rgb(250, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator_grid {
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    transition: 0.5s;

}

.calculator_grid button {
    font-size: 35px;
    border: none;

}

.calculator_grid button:hover {
    background: rgb(155, 214, 175);
    color: red;
    border-radius: 5px;
}

.display_area div {
    color: white;
    text-align: right;

}

.previous_operand {
    font-size: 30px;
    width: 100%;
    word-break: break-all;
    min-height: 50px;
}

.current_operand {
    font-size: 40px;
    width: 100%;
    word-break: break-all;
    min-height: 50px;

}

.span_equal {
    grid-column: span 2;
}

.display_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: span 4;
    background: lightslategray;
    width: 100%;
    padding: 15px;
}

#ac_allClear,
#del {
    color: rgb(40, 114, 40);

}

.oparator {
    color: rgb(40, 114, 40);
    font-size: 30px;
}

/* #ac_allClear:hover{

} */